.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  background-color: #002f34;
  padding: 2rem;
  margin-top: 2rem;
  color: white;
  font-family: Arial, sans-serif;
  
}

.footer-section {
  flex: 1 1 200px;
  
}

.footer-section h4 {
  margin-bottom: 1rem;
  font-size: 1rem;
  font-weight: bold;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer-section ul li {
  margin-bottom: 0.5rem;
  font-size: 0.9rem;
  cursor: pointer;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.social-icons img {
  width: 24px;
  height: 24px;
  margin-right: 10px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .footer-container {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .footer-section {
    margin: 1rem 0;
  }
}